<!DOCTYPE html>
<html>
  <head>
    <title>ScuttsRoofing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
